<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Uspesno ste odali dokumente</h1>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
        Nazaj na zacetek
    </a>
</div>
