@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<button asp-controller="Home" asp-action="Index" class="btn btn-primary">
    Click me
</button>
